.info {
    float: left;
    width: 60%;
    margin-left: 50px;
    margin-top: 30px;
    font-family: Tahoma, sans-serif;
  }
  
  h1 {
    color: rgb(0, 0, 0);
    font-size: 50px;
    margin: 20px 20px 20px 20px;
    user-select: none;
  }

  .info p {
    font-size: 20px;
    margin-top: 30px;
    color: rgb(34, 34, 34);
  }

  #img1 {
    position: absolute;
    width: 80px;
    bottom: 10px;
    left: 50px;
    cursor: pointer;
  }